POSTGRES_USER=meeting_rooms
POSTGRES_PASSWORD=meeting_rooms
POSTGRES_DB=meeting_rooms
POSTGRES_PORT=5432
DATABASE_URL=postgresql://meeting_rooms:meeting_rooms@localhost:5432/meeting_rooms

API_PORT=3000

WEB_PORT=5173
